@model Employee

<div class="mb-10">
    <label  class="required form-label">Id</label>
    <input name="Id" type="text" class="form-control form-control-solid" placeholder="please write Id" value="@Model?.Id"/>
</div>
<div class="mb-10">
    <label  class="required form-label">Name</label>
    <input name="Name" type="text" class="form-control form-control-solid" placeholder="name" value="@Model?.Name" />
</div>
<div class="mb-10">
    <label  class="required form-label">Department</label>
    <input name="Department" type="text" class="form-control form-control-solid" placeholder="department" value="@Model?.Department" />
</div>